.exostic-gradient {
  background: linear-gradient(0deg, #009cff, #3b0066, #f708a8, #ffe252);
  background-size: 300% 300%;
  animation: gradient 30s ease infinite;
}

.exostic-gradient-2 {
  background: linear-gradient(180deg, #f708a8, #3b0066, #009cff);
  background-size: 300% 300%;
  animation: gradient 30s ease infinite;
  opacity: 0.35;
}

.exostic-gradient-revert {
  background: linear-gradient(180deg, #009cff, #3b0066, #f708a8, #ffe252);
  background-size: 300% 300%;
  animation: gradient 30s ease infinite;
}

.exostic-blur-background {
  border-radius: 0;

  /* box-shadow: 0 4px 30px rgb(28 164 242 / 10%) !important; */
  backdrop-filter: blur(10px);
  background-color: #3333 !important;
  border: none;
}

.hero-picture {
  height: 100%;
  object-fit: cover;
}

svg[data-icon='tabler:plus'] {
  background: var(--aw-color-primary);
}

@keyframes gradient {
  0% {
    background-position: 50% 0%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% 0%;
  }
}
