.prose h2 {
  color: #7924c9 !important;
  text-transform: uppercase;
  font-size: 2em;
}

.prose h3 {
  color: #00a2e8 !important;
}

@media print {
  header,
  footer {
    display: none;
  }

  .prose li {
    font-size: 12px !important;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .prose h2 {
    font-size: 1.5em;
    margin-bottom: 10px !important;
  }

  .prose li > strong {
    color: black !important;
    font-weight: 900;
  }

  .prose p {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  h4 {
    font-size: 12px !important;
  }

  .page-break-before {
    page-break-before: always;
    clear: both;
  }
  .btn {
    color: #f707a8 !important;
    background: white !important;
    border: 1px solid #f707a8 !important;
  }

  .print-window {
    display: none !important;
  }

  .resume-section {
    margin-top: 40px !important;
    padding: 0px !important;
  }
}
